<%= form_for(Comment.new, html: { class: "comment form-inline text-left" }) do |f| %>
  <%= f.hidden_field :comic_id, value: comic.id %>
  <div class='form-group'>
    <div class="field">
      <%= f.text_field :body, placeholder: "Say something friendly", class: 'form-control' %>
    </div>
  </div>
    <div class='form-group'>
    <div class="actions">
      <%= f.submit "comment", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
