<li><%= link_to icon('fa fa-shopping-cart fa-3x'), "/pages/shop" %></li> 
<li><%= link_to icon('fa fa-info-circle fa-3x'), "/pages/about" %></li>
<li><%= link_to icon('fa fa-envelope-o fa-3x'), "/pages/contact" %></li>