<h1>About</h1>

<br><br>

<div class='col-md-6'>
  <p>
    <%= image_tag('https://s3-us-west-2.amazonaws.com/acetheyellowdog/uploads/comic/pic/download.jpeg',
    class: 'img-responsive') %>
  </p>
</div>

<div class='col-md-6'>
  <p class="text-left">
    Meet Ace - the inspiring pup behind the Adventures of Ace the Yellow Dog. As a hard working pup at a Seattle-based tech company, Ace rides the elevator and hangs out in the office regularly. Before becoming a full-time employee, Ace spent his puppyhood training to be a guide dog. Needless to say, (all comics are based on true events) Ace had a different career in mind.
  </p>
</div>